body {margin:0;
padding: 0 5px;
border:1px dashed grey;
}
table {
border-collapse:collapse; 
font-size:12px;
border: 1px solid #6678b1;
margin-bottom:20px}
th {
font-family: 'Lobster', cursive;
padding:10px; 
font-size:16px;
color:#34495e;
border: 1px dashed #6678b1;}
td {
font-family: 'Ubuntu', sans-serif; 
padding:5px 10px;
border: 1px dashed #6678b1;
color:#34495e;}
caption {
font-family: 'Lobster', cursive;
font-size:24px;
padding:10px; 
color:#f37543;
 }
.first {
font-size:14px;
font-weight:bold;
text-align:center;
}
.name {
font-family: 'Lobster', cursive; 
font-size:16px;
color:#63bfe0; 
text-align:center;
}

h1 {
    color: darkred;
    font-weight: bold;}
h2 {
    color: darkred;
    font-weight: bold;}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;}
.ramka {
    width: 745px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    float: left;}
a {color: blue; text-decoration: underline;}
a:hover {color: coral;}
.first {
    color: red;
    font-size: 14px;}
.second {
    color: green;
    font-size: 14px;}
.avtor {
    color: black;
    font-style: italic;
    float: right;
    font-size: 12px;
    padding-right: 50px;}